<% include partials/header %>

    <!-- Page Content -->
    <% include partials/channel_section %>

    <div id="page">
        <div id="chat-list">
            <a href="/users/@me" class="user"><div class="avatar"><img src="<%= currentUser.profile_picture %>" /></div><%= currentUser.username %></a>
            <ul class="chat-list scroll-hijack">
            
            </ul>
        </div>
        <div id="profile" class="page">
            <div class="page-header clearfix">
                <span>My Profile</span>
                <ul>
                    <!-- <li><a title="Online" href="#">Online - 1</a></li> -->
                </ul>
            </div>
            <div class="profile-body scroll-hijack">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-1">
                        <div class="row valign">
                            <div class="col-md-6">
                               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<% include partials/footer %>
